.button-container {
    width: calc(100% - 100px);
    background-color: transparent;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding-left: 15px;
}

@media (max-width: 960px){
    .button-container {
        margin-top: 60px;
        margin-left: 0;
        width: 100%;
    }
}

.button-back {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: #2196F8;
    border: none;
    width: 300px;
    transition: 0.3s ease-in;
}