.cardlistpreview-container {
    padding: 35px;
    position: relative;
    width: calc(100vw - 100px);
    height: 620px;
}

@media (max-width: 960px){
    .cardlistpreview-container {
        width: 100%;
        left: 0;
        height: 550px;
    }
}

.flickity-button {
    display: block;
    position: absolute;
    top: 0;
    border: none;
    width: 40px;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.25s ease;
    fill: #fff;
    z-index: 2;
  }

  .flickity-prev-next-button {
    top: 43%;
    width: 44px;
    height: 346px;
    transform: translateY(-50%);
  }

  @media (max-width: 960px){
    .flickity-prev-next-button {
      top: 49%;
      height: 351px;
    }
  }

  .flickity-prev-next-button.previous {
    left: 30px;
  }
  .flickity-prev-next-button.next {
    right: 30px;
  }

  .flickity-button:disabled {
    opacity: 0.1;
    cursor: auto;
    pointer-events: none;
  }

.flickity-viewport{
    overflow: hidden;
    cursor: grab;
    height: 500px !important;
}


