body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Karla", Verdana, Tahoma, sans-serif !important;
    color: #fafafa !important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    background-color: #1b262c !important;
}

.main-aside-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}

.main-container {
    margin-left: 100px;
    width: calc(100vw - 100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 960px){
    .main-container {
        width: 100vw;
        left: 0;
        margin: 0;
        padding: 0;
        top: 360px;
        min-height: calc(100vh - 260px);
        height: 100%;
    }
}

.nav-container {
    transition: 0.3s ease-in;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}

.nav-tvShow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 15px;
    transition: 0.3s ease-in;
    width: 80%;
}

@media (max-width: 960px){
 .nav-tvShow {
        width: 100%;
    }
}


.navlink {
    color: #999;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
    padding: 0 15px 9px 15px;
    font-weight: 600;
    transition: 0.3s ease-in;
}

.navlink.selected {
    color: #e4eddb;
    border-bottom: 2px solid #e4eddb;
}

@media (max-width: 960px){
.navlink {
    font-size: 15px;
    margin: 5px;
    padding-bottom: 2px;
    }
}

@media (max-width: 960px){
 .navlink.selected {
    border-bottom: 1px solid #e4eddb;
    }
}

.main-trailer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container {
    width: 70%;
    height: 70%;
}

@media (max-width: 960px){
 .player-container {
        width: 95%;
        height: 80%;
    }
}


@media (max-width: 1260px){
 .player-container {
        width: 90%;
        height: 40%;
    }
}


.cards-results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}



@media (max-width: 960px){
     .main-error-container {
        width: 100vw;
        justify-content: center;
        height: calc(100vh - 250px);
        margin: 0px 0 0 0;
    }
}


@media (max-width: 1260px){
     .main-error-container {
        justify-content: center;
        height: calc(100vh - 200px);
        margin-left: 100px;
    }
}

.main-error-container {
    margin-left: 100px;
    width: calc(100vw - 100px);
    height: 700px;
    transform: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




    
.results-container {
    margin-top: 200px;
    margin-left: 100px;
    transition: 0.3s ease-in;
    width: calc(100vw - 100px);
    position: relative;
    min-height: calc(100vh - 400px);
    height: 100%;
    background-color: #1b262c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    flex-wrap: wrap;
    transition: 0.3s ease-in;
}

 .cards-results-container {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    flex-wrap: wrap;
    height: 100%;
}











@media (max-width: 960px){
    .overview-main-container {
        width: 100%;
    }
}


.overview-main-container {
    width: calc(100vw - 100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    min-height: calc(100vh - 865px);
}

@media (max-width: 1260px){
    .data-container {
        padding: 60px 20px 40px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 80%;
    }
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0 36px 0;
    margin: 0 0 20px 100px;
}


@media (max-width: 1260px){
    .info-serie-container {
        width: -moz-fit-content;
        width: fit-content;
        margin: 0;
        padding: 30px;
    }
}

.info-serie-container {
    width: 90%;
    margin: 0 40px 0 64px;
}

.img {
    width: 250px;
    height: 200px;
}

.title-serie p {
    font-size: 17px;
}

.list-item{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}