.intro-container {
    position: relative;
    width: 100%;
    height: 600px;
    color: white;
}

.intro-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.intro-background-image {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    }
 
.intro-info {
    padding: 0 50px;
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(90deg, #000 70%, transparent 100%, transparent);
}

@media (max-width: 960px){
    .intro-details-container {
        padding: 10px;
    }
}

.intro-details-container {
    padding: 20px 0;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 960px){
    .intro-details {
        font-size: 15px;
    }
}

.intro-details {
    padding-right: 10px;
    font-size: 1em;
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px){
    .intro-description {
        display: -webkit-box;
        line-height: 1.5;
        max-height: 45px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 12px;
        max-width: 70%;
    }
}

.intro-description {
    font-size: 15px;
    line-height: 1.5;
    max-height: 112.5px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.button {
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin: 0px 0px 0 0;
    border-radius: 10px;
    background-color: #144d53;
    color: #e4eddb;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}

.icon-play{
    width: 30px;
    font-size: 40px;
}