.main-container {
    margin-left: 100px;
    width: calc(100vw - 100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

