.pagination-container .pagination-button {
    width: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin: 0 5px 0 0;
    border-radius: 50%;
    background-color: #144d53;
    color: #e4eddb;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: transparent;
    font-size: 15px;
}

.pagination-container .pagination-button:hover, .pagination-container .pagination-button.active-page, .pagination-container .pagination-arrow:hover, .pagination-container .pagination-arrow.active-page, .pagination-container .pagination-arrow:hover, .pagination-container .pagination-arrow.active-page {
    color: #307672;
    transition: 0.3s ease-in;
    background-color: transparent;
}

 @media (max-width: 960px){
    .pagination-container .pagination-button {
        font-size: 17px;
         padding: 0;
    }
}

