.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 0 20px 0;
    transition: 0.3s ease-in;
    width: calc(100%-100px);
    margin-left: 100px;
    z-index: 100;
}

@media (max-width: 1260px){
    .pagination-container {
        margin-left: 0;
    }
}

.pagination-arrow {
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin: 0 5px 0 0;
    border-radius: 50%;
    background-color: #2196f3;
    color: #e4eddb;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}
.arrows{
    width: 20px;
    height: 20px;
    color: white;
}