.main-searchbar-container .search-container.visible {
    transition: 0.5s ease-in;
    transform: translateY(200px);
    position: fixed;
}

.main-searchbar-container .search-container {
    width: calc(100vw - 100px);
    position: absolute;
    top: -200px;
    transition: 0.5s ease-in;
    height: 200px;
    background-color: #151e23;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-searchbar-container .close-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
}
.main-searchbar-container .search-container .options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

@media (max-width: 960px){
    .main-searchbar-container .search-container.visible {
        transform: translateY(360px);
        width: 100%;
    }
}


@media (max-width: 960px){
    .main-searchbar-container .search-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width: 100%;
        left: 0;
        top: -300px;
        height: 300px;
    }
}


.main-searchbar-container .search-container {
    width: calc(100vw - 100px);
    position: absolute;
    top: -200px;
    transition: 0.5s ease-in;
    height: 200px;
    background-color: #151e23;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-searchbar-container .search-container .options-container .radio-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}


@media (max-width: 960px){
    .main-searchbar-container .search-container .options-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}



